<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.reservation.mapper.PerformanceMapper">

    <resultMap id="performanceMap" type="PerformanceDTO">
        <id property="performanceId" column="performance_id"/>
        <result property="pTitle" column="p_title"/>
        <result property="pLocation" column="venue_name"/>
        <result property="posterUrl" column="poster_url"/>
        <collection property="rounds" ofType="RoundDTO">
            <id property="roundId" column="round_id"/>
            <result property="roundTime" column="round_time"/>
            <result property="openTime" column="open_time"/>
            <result property="roundStatus" column="round_status"/>
        </collection>
    </resultMap>

    <select id="findAll" resultMap="performanceMap">
        SELECT  A.performance_id,
                A.p_title,
                V.venue_name,
                A.poster_url,
                A.created_per,
                B.round_id,
                B.round_time,
                B.open_time,
                B.round_status
        FROM PERFORMANCES A
        LEFT OUTER JOIN VENUE V ON A.venue_id = V.venue_id
        LEFT OUTER JOIN PERFORMANCE_ROUND B ON A.performance_id = B.performance_id
        ORDER BY A.created_per DESC
    </select>

</mapper>
