<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.reservation.mapper.SeatMapper">

    <select id="findByRoundId" resultType="SeatDTO" parameterType="Long">
        SELECT seat_id     AS seatId,
               round_id    AS roundId,
               seat_row    AS seatRow,
               seat_colume AS seatColume,
               grade,
               status
        FROM SEATS
        WHERE round_id = #{roundId}
        ORDER BY seat_row, seat_colume
    </select>

    <select id="findById" resultType="SeatDTO" parameterType="Long">
        SELECT seat_id     AS seatId,
               round_id    AS roundId,
               seat_row    AS seatRow,
               seat_colume AS seatColume,
               grade,
               status
        FROM SEATS
        WHERE seat_id = #{seatId}
    </select>

    <update id="updateStatus">
        UPDATE SEATS
        SET status = #{status}
        WHERE seat_id = #{seatId}
    </update>

</mapper>
